<form #taskForm="ngForm" (submit)="onSubmit()">
  <label for="title">Title</label>
  <input
    type="text"
    [(ngModel)]="modelTask.title"
    name="title"
    id="title"
    required
    #title="ngModel"
  />

  <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
    Name is required
  </div>

  <label for="description">Description</label>
  <textarea
    id="description"
    cols="30"
    rows="10"
    [(ngModel)]="modelTask.description"
    name="description"
  >
  </textarea>

  <label for="execDate">1st Deadline</label>
  <input
    type="date"
    id="execDate"
    [(ngModel)]="modelTask.execDate"
    name="execDate"
    required
  />

  <label for="repeatDelay">Repeat every</label>
  <input
    type="number"
    id="repeatDelay"
    [(ngModel)]="modelTask.repeatDelay"
    name="repeatDelay"
    required
  />
  <button [disabled]="!taskForm.form.valid" type="submit">Add Task</button>
</form>
