<form class="taskForm" #taskForm="ngForm" (submit)="onSubmit($event)">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      [(ngModel)]="modelTask.title"
      name="title"
      id="title"
      required
      minlength="3"
      #title="ngModel"
    />

    <!-- Error messages for title -->
    <div *ngIf="title.invalid" class="alert alert-danger">
      <div *ngIf="title.errors?.['required']">New task requires a title.</div>
      <div *ngIf="title.errors?.['minlength']">
        Title must be at least 3 characters long.
      </div>
    </div>
  </div>

  <!-- Description textarea -->
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      id="description"
      [(ngModel)]="modelTask.description"
      name="description"
    >
    </textarea>
  </div>

  <!-- ExecDate Field -->
  <div class="form-group">
    <label for="execDate">1st Deadline : </label>
    <input
      type="date"
      id="execDate"
      [(ngModel)]="modelTask.execDate"
      name="execDate"
      [min]="minDate"
      required
      #execdate="ngModel"
    />

    <!-- Error messages for execDate -->
    <div *ngIf="execdate.invalid" class="alert alert-danger">
      <div *ngIf="execdate.errors?.['required']">
        The 1st deadline date is required
      </div>
      <div *ngIf="execdate.errors?.['min']">
        the date cannot be earlier than today
      </div>
    </div>
  </div>

  <!-- RepeatDelay Field -->
  <div class="form-group">
    <label for="repeatDelay">Repeat every (in days): </label>
    <input
      type="number"
      id="repeatDelay"
      [(ngModel)]="modelTask.repeatDelay"
      name="repeatDelay"
      min="1"
      max="365"
      required
      #repeatDelay="ngModel"
    />

    <!-- Error messages for RepeatDelay -->
    <div *ngIf="repeatDelay.invalid" class="alert alert-danger">
      <div *ngIf="repeatDelay.errors?.['required']">
        Please specify the delay between each occurences, in days
      </div>
      <div *ngIf="repeatDelay.errors?.['min'] || repeatDelay.errors?.['max']">
        Time interval between occurences must be comprised between 1 and 365
        days
      </div>
    </div>
  </div>

  <button [disabled]="!taskForm.form.valid" type="submit">Add Task</button>
</form>
