.alert
    padding: 15px
    margin-bottom: 20px
    border: 1px solid transparent
    border-radius: 4px

.alert-danger
    background-color: #f2dede
    border-color: #ebccd1
    color: #a94442

.taskForm
    width: 100%
    .form-group
        margin: 1em 0
        padding: 0

input,
textarea
    border: 1px solid #ccc
    padding: 5px
    box-sizing: border-box

input[type="text"]
    width: 100%

input[type="number"]
    width: 60px

textarea
    width: 100%
    height: 100px
    resize: none

.ng-valid[required], .ng-valid.required
    input[text]
        border-left: 5px solid #42A948

.ng-invalid:not(form)
    border-left: 5px solid #a94442

.ng-untouched[required], .ng-untouched.required
    border-left: 5px solid #e0c123
