<form class="taskForm" #taskForm="ngForm" (submit)="onSubmit($event)">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      [(ngModel)]="modelTask.title"
      name="title"
      id="title"
      required
      minlength="3"
      #title="ngModel"
    />

    <!-- Error messages for title -->
    <div *ngIf="title.invalid" class="alert alert-danger">
      <div *ngIf="title.errors?.['required']">New task requires a title.</div>
      <div *ngIf="title.errors?.['minlength']">
        Title must be at least 3 characters long.
      </div>
    </div>
  </div>

  <!-- Description textarea -->
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      id="description"
      [(ngModel)]="modelTask.description"
      name="description"
    >
    </textarea>
  </div>

  <!-- ExecDate Field -->
  <div class="form-group">
    <label for="execDate">1st Deadline : </label>
    <input
      type="date"
      id="execDate"
      [(ngModel)]="modelTask.execDate"
      name="execDate"
      [min]="minDate"
      required
      #execdate="ngModel"
    />

    <!-- Error messages for execDate -->
    <div *ngIf="execdate.invalid" class="alert alert-danger">
      <div *ngIf="execdate.errors?.['required']">
        The 1st deadline date is required
      </div>
      <div *ngIf="execdate.errors?.['min']">
        the date cannot be earlier than today
      </div>
    </div>
  </div>

  <!-- Choice for ReccurenceType -->
  <div class="form-group recurrenceTypeDefinition">
    <h2>Define tasks recurrence buy :</h2>
    <!-- Accordion tentative -->
    <div class="accordion">
      <!-- Accordion 1st -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button"
            type="button"
            (click)="toggleAccordion('number of days')"
          >
            <fa-icon
              [icon]="
                isAccordionOpen('number of days')
                  ? 'chevron-up'
                  : 'chevron-down'
              "
            ></fa-icon>
            Number of days
          </button>
        </h2>
        <div
          class="accordion-collapse"
          *ngIf="selectedAccordion === 'number of days'"
        >
          <div class="accordion-body">
            <label for="repeatDelay">Repeat every : </label>
            <input
              type="number"
              id="repeatDelay"
              [(ngModel)]="modelTask.repeatDelay"
              name="repeatDelay"
              min="1"
              max="365"
              required
              #repeatDelay="ngModel"
            />
            <!-- Error messages for RepeatDelay -->
            <div *ngIf="repeatDelay.invalid" class="alert alert-danger">
              <div *ngIf="repeatDelay.errors?.['required']">
                Please specify the delay between each occurences, in days
              </div>
              <div
                *ngIf="repeatDelay.errors?.['min'] || repeatDelay.errors?.['max']"
              >
                Time interval between occurences must be comprised between 1 and
                365 days
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Accordion 2nd : Specific day  -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button"
            type="button"
            (click)="toggleAccordion('specific day')"
          >
            <fa-icon
              [icon]="
                isAccordionOpen('specific day') ? 'chevron-up' : 'chevron-down'
              "
            ></fa-icon>
            Specific day
          </button>
        </h2>
        <div
          *ngIf="selectedAccordion === 'specific day'"
          class="accordion-collapse"
        >
          <div class="accordion-body">
            <label for="recurrenceDay">Repeat every : </label>
            <select
              [(ngModel)]="modelTask.recurrenceDay"
              name="recurrenceDay"
              required
              #recurrenceDay="ngModel"
            >
              <option value="Monday">Monday</option>
              <option value="Tuesday">Tuesday</option>
              <option value="Wednesday">Wednesday</option>
              <option value="Thursday">Thursday</option>
              <option value="Friday">Friday</option>
              <option value="Saturday">Saturday</option>
              <option value="Sunday">Sunday</option>
            </select>
          </div>
          <!-- Error messages for ReccurencePattern -->
          <div
            *ngIf="recurrenceDay.invalid || recurrenceDay.untouched"
            class="alert alert-danger"
          >
            <div *ngIf="recurrenceDay.errors?.['required']">
              Please specify the day at which to repeat the task
            </div>
          </div>
        </div>
      </div>

      <!-- Accordion 3nd -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            type="button"
            class="accordion-button"
            (click)="toggleAccordion('monthly')"
          >
            <fa-icon
              [icon]="
                isAccordionOpen('monthly') ? 'chevron-up' : 'chevron-down'
              "
            ></fa-icon>
            Day of the month
          </button>
        </h2>
        <div class="accordion-collapse" *ngIf="selectedAccordion === 'monthly'">
          <div class="accordion-body">
            <label for="monthlyDay"> Repeat every : </label>
            <input
              type="number"
              name=""
              id=""
              [(ngModel)]="modelTask.monthlyDay"
              min="1"
              max="31"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <button [disabled]="!taskForm.form.valid" type="submit">Add Task</button>
</form>
