@import ../../styles

.taskCard
    margin: 2em
    border: solid 1px black
    border-radius: 15px
    display: flex

    justify-content: space-between
    padding: 10px
    gap: 10px

    .text
        flex: 1 1 auto //Want the text to adapt in size

    .deadline, .taskCompletion
        flex: 0 0 auto
        margin: auto

.taskCard:hover
    box-shadow: 5px 5px 5px grey

.completed
    background-color: lightgreen
