<div *ngIf="task">
  <!-- If in edition mode, display inputs and areas -->
  <div class="taskEditingForm" *ngIf="this.isEditing; else notEditing">
    <!-- task title text input -->
    <div class="form-group">
      <label for="taskTitle">Title</label>
      <input type="text" name="taskTitle" [(ngModel)]="task.title" />
    </div>

    <!-- task description text area -->
    <div class="form-group">
      <label for="taskDescription">Description</label>
      <textarea
        name="taskDescription"
        id=""
        [(ngModel)]="task.description"
      ></textarea>
    </div>

    <!-- display creation date, no change allowed -->
    <p>
      <label> Created on : </label>
      <span>
        {{ task.creationDate | date }}
      </span>
    </p>

    <!-- RecurrenceType options -->
    <div class="form-group">
      <label>Recurrence definition</label>
      <div>
        <label for="">
          <input
            type="radio"
            name="recurrenceType"
            [(ngModel)]="task.reccurenceType"
            [value]="'number of days'"
            required
          />
          Number of days
        </label>
        <label for="">
          <input
            type="radio"
            name="reccurenceType"
            [(ngModel)]="task.reccurenceType"
            [value]="'specific day'"
            required
          />
          Specific day
        </label>
      </div>
    </div>

    <!-- task recurrence input -->
    <div class="form-group">
      <label for="taskRepeat">Execute every : </label>
      <input
        *ngIf="task.reccurenceType === 'number of days'"
        type="number"
        [(ngModel)]="task.repeatDelay"
      />
      <select
        *ngIf="task.reccurenceType === 'specific day'"
        [(ngModel)]="task.recurrenceDay"
        name="recurrenceDay"
        required
        #recurrenceDay="ngModel"
      >
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
        <option value="Sunday">Sunday</option>
      </select>
    </div>

    <!-- task status -->
    <p>
      Status :
      {{ task.completed ? "Done" : "To Do" }}
    </p>
    <!-- confirm button -->
    <button (click)="confirmTaskEdit()">Confirm</button>

    <button (click)="goBack()">Return</button>
    <button (click)="deleteTask()">Delete</button>
    <button (click)="toggleCompletion(task)">
      {{ task.completed! ? "Not Complete" : "Complete" }}
    </button>
  </div>

  <!-- When not editing, display data -->
  <ng-template #notEditing>
    <div class="taskCardBody">
      <h2>
        {{ task.title }}
      </h2>
      <p>
        {{ task.description }}
      </p>
      <p class="taskMetaData">
        <span> Creation Date : {{ task.creationDate | date }} </span>
        <span> Next due on : {{ task.execDate | date }} </span>
        <span> Execute every {{ task.repeatDelay }} days</span>
      </p>
      <p>
        Status :
        {{ task.completed ? "Done" : "To Do" }}
      </p>
      <button (click)="editTask()">Modify</button>

      <button (click)="goBack()">Return</button>
      <button (click)="deleteTask()">Delete</button>
      <button (click)="toggleCompletion(task)">
        {{ task.completed! ? "Not Complete" : "Complete" }}
      </button>
    </div>
  </ng-template>
</div>
